$papers: 4;
$colors: (
  "one": #ffadad,
  "two": #ffd6a5,
  "three": #fdffb6,
  "four": #9bf6ff
);

.folder {
  cursor: pointer;
  position: relative;
  background-color: #FFD485;
  width: 200px;
  height: 150px;
  border-radius: 10px;

  // Optionnel : "folder label" (si vous souhaitez afficher une partie du dossier en haut)
  &::before {
    content: '';
    position: absolute;
    width: 55px;
    height: 25px;
    border-radius: 5px;
    background-color: #FFD485;
    top: -10px;
    left: 0;
  }
  
  // Front side du dossier
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #ffe1a8;
    transform: skew(0deg);
    transition: all 0.2s;
  }
  
  .paper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 190px;
    height: 140px;
    transition: all 0.2s;
    
    // Appliquer la couleur spécifique à chaque "paper"
    @each $name, $color in $colors {
      &.#{$name} {
        background-color: $color;
      }
    }
  }
  
  &:hover {
    // Animation de la "front side" du dossier
    &::after {
      transform: skew(-20deg);
      margin-left: 25px;
    }
    // Animation des "papers"
    @for $i from 1 through $papers {
      .paper:nth-child(#{$i}) {
        transform: rotate(#{$i}0deg) translate(-80px, -80px);
      }
    }
  }
}